<h1>Create new Subscription</h1>
<table class="defaultTable">
<% javascript_include_tag :defaults %>
<% form_for :subscr, :url => { :action => :addSubscr } do |f| %>

  <tr>
    <td><b>Person: </b></td>
    <td><%= @person.name %></td>
  </tr>

   <tr>
	<td><b>Msgtype: </b></td>
    <td><%= collection_select('subscr', 'msg_type_id', @availTypes, 'id','msgtype') %></td>
	<%= observe_field('subscr_msg_type_id', :url => { :action => 'get_type_params' }, :with => "'type_id='+value") %>
  </tr>

  <tr>
    <td><b>Filter: </b></td>
	<td id='filter'><%= render :partial => 'filter', :object => @availParams %></td>
    <td><b>Value: </b></td>
	<td><%= text_field_tag 'filter_value' %>
  </tr>


  <tr>
    <td><b>Delay: </b></td>
    <td><%= collection_select('subscr', 'delay_id', @availDelay, 'id','name') %></td>
  </tr>

  <tr>
    <td><b>Delivery: </b></td>
    <td><%= collection_select('subscr','delivery_id', @availDeliveries, 'id','name') %></td>
  </tr>



<tr><td><%= submit_tag %></td></tr>
<% end %>
</table>

