<h1>Change Subscription for <%= MsgType.find(@subscr.msg_type_id).msgtype %></h1>
<table class="defaultTable">
<% form_for :subscr, :url => { :action => :editSubscr } do |f| %>
  <tr>
    <td><b>Delay: </b></td>
    <td><%= collection_select('subscr', 'delay_id', @availDelay, 'id','name') %></td>
  </tr>

  <tr>
    <td><b>Delivery: </b></td>
    <td><%= collection_select('subscr','delivery_id', @availDeliveries, 'id','name') %></td>
  </tr>

  <tr>
    <td><b>Comment: </b></td>
    <td><%= text_area('subscr','comment', :size => "50x5") %></td>
  </tr>

<tr><td><%= submit_tag %></td></tr>
<% end %>
</table>

<table class="defaultTable">
<tr>
<th>From</th>
<th>Subject </th>
<th>Received</th>
<th>Sent</th>
</tr>
<% for msg in @msgs_for_type %>
<tr>
<td><%= link_to msg.sender, msg %></td>
<td><%= msg.subject %></td>
<td><%= h(msg.created)	%></td>
</tr>
<% end %>
</table>


