<h1>Message Type Handling for <%= @myUser.name %></h1>
<table>
<tr>
<td><h3>Subscribed Messagtypes</h3></td>
<td><h3>Latest subscribed Messages</h3></td>
</tr>
<tr><td valign=top>
<table class="defaultTable">
<tr>
<th>Message Type</th>
<th>Delay </th>
<th>Delivery</th>
</tr>
<% for subs in @subscribedMsgs %>
<tr>
<td><%= link_to subs.msg_type.msgtype, :action => 'editSubscr', :id => subs %></td>
<td><%= subs.delay.name %></td>
<td><%= if subs.delivery
		  subs.delivery.name  
		else '' end
		%></td>
<td><%= link_to image_tag("delete.png"), :action => 'delSubscr', :id => subs %>
</tr>
<% end %>
</table>
<%= link_to 'New Subscription', :action => "addSubscr", :user => @myUser.id %> 
</td>
<td valign=top>
<table class="defaultTable">
<tr>
<th>From</th>
<th>Subject </th>
<th>Date</th>
<th>Type</th>
</tr>
<% for msg in @latestMsgs %>
<tr>
<td><%= link_to msg.sender, msg %></td>
<td><%= msg.subject %></td>
<td><%= h(msg.created)	%></td>
<td><%= MsgType.find(msg.msg_type_id).msgtype	%></td>
</tr>
<% end %>
</table>
</td>
</tr>
</table>






