<script type="text/javascript">

  function get_valid_params() {
    msg_type = $('#subscr_msg_type_id').val();
    forgery_string = '<%=request_forgery_protection_token%>=<%=form_authenticity_token%>';
    $.ajax({ url: '<%= url_for :controller => :subscriptions, :action => :get_type_params, :id => 1 %>',
      data: {<%=request_forgery_protection_token%>: '<%=form_authenticity_token%>',
        msg_type: msg_type},
      success: function(data){
        update_filter_params(data.responseText);
      }
    });
  }

  // updates all parameter select boxes with the passed html
  function update_filter_params(html) {
    $('#param_select').each(function(item) {
      if(item.name.match("param")) {
        item.replace(html);
      }
    });
    recalc_filter_ids();
  }

</script>

<h2>Add a Subscription: </h2>

<% form_for :subscr do |f| %>
<p>Pick a notification type to subscribe to: <%= collection_select('subscr', 'msg_type_id', @avail_types, 'id', 'type_desc') %></p>
<p><%= submit_tag "Create Subscription" %> and continue to edit.</p>

<% end %>

