<h1>Change Subscription for: <%= MsgType.find(@subscr.msg_type_id).msgtype %></h1>

<% form_for @subscr do |f| %>
<table class="defaultTable">
  <tr>
    <td><strong>Delay: </strong></td>
    <td><%= collection_select('subscr', 'delay_id', @availDelay, 'id','name') %></td>
  </tr>

  <tr>
    <td><strong>Delivery: </strong></td>
    <td><%= collection_select('subscr','delivery_id', @availDeliveries, 'id','name') %></td>
  </tr>

  <tr>
    <td valign=top><strong> <%= link_to_function "Comment", "$('comment_box').toggle()" %></strong></td>

    <td> <div id="comment_box" style="display: none;"><%= text_area('subscr','comment', :size => "50x5") %></div></td>
  </tr>

</table>
<hr/>
<table>
  <tbody id="filter_table" style="">
      <tr>
      <td><b>Filter: </b></td>
      <td></td>
      <td></td>
      <td></td>
      <td><%= link_to_function("Add Filter", nil, :id => 'add_filter_link') do |page| 
                          page.insert_html(:before, 'counter', :partial => 'filter', :locals => { :parameter_list => @avail_params, :selected_param => nil, :selected_oper => nil, :value => nil } ) 
                          page << "recalc_filter_ids();"
                        end %></td>

      </tr>
      <% @filters.each_with_index  { |filt,i| %>
        <%= render :partial => 'filter', :locals => {:parameter_list => @avail_params, :selected_param => filt.parameter_id, :selected_oper => filt.operator, :value => filt.filterstring} %>
      <% } %>

    <tr id='counter'><td><%= hidden_field_tag 'filter_count',@filters.size %></td></tr>

    <script type="text/javascript">
      recalc_filter_ids();
    </script>

    <tr><td><%= submit_tag %></td></tr>
  </tbody>
</table>


<% end %>


