<% javascript_include_tag :defaults %>

<h1>Message Type Handling for <%= @person.name %></h1>
<table>
<tr>
<td><h3>Subscribed Messagtypes</h3></td>
<!-- <td><h3>Latest subscribed Messages</h3></td> -->
</tr>
<tr><td valign=top>
<table class="defaultTable">
<tr>
<th>Message Type</th>
<th>Delay </th>
<th>Delivery</th>
<th>Status</th>
<th></th>
</tr>

<% @subscribedMsgs.each_with_index  { |subs,i| %>
  <tr id="filter_<%=i%>" >
    <td id="edit_link_<%=i%>"><%= link_to subs.msg_type.msgtype, edit_subscription_path(subs) %></td>
    <td><%= subs.delay.name %></td>
    <td><%= subs.delivery ? subs.delivery.name : '' %></td>
    <td><%= link_to_remote subs.enabled ? "Enabled" : "Disabled", { :url => { :action => 'disable', :id => i, :subs => subs }}, { :id => "disable_link_#{i}" }  %></td>
    <td><%= link_to image_tag("delete.png"), subscription_path(subs), :method => :delete %></td>
  </tr>
  <% } %>
</table>


<!--
</td>
<td valign=top>
<table class="defaultTable">
<tr>
<th>From</th>
<th>Subject </th>
<th>Date</th>
<th>Type</th>
</tr>
<%# for msg in @latestMsgs %>
  <tr>
    <td><%# link_to msg.sender, msg %></td>
    <td><%# msg.subject %></td>
    <td><%# h(msg.created) %></td>
    <td><%# msg.msg_type.msgtype %></td>
  </tr>
<%# end %>

</table>
</td>
</tr>
-->


</table>

<%= link_to_function "New Subscription", "$('new_subscr').toggle()" %>

<div id='new_subscr' style="display: none;">
  <%= render(:partial => 'new_subscription', :locals => { :delays => @avail_delays, :deliveries => @avail_deliveries, :types => @avail_types } ) %>
</div>







