<% content_for :content_for_head do %>
  <%= javascript_include_tag "jquery.tablesorter" %>
<% end %>
<%= javascript_include_tag "wz_tooltip.js" %>

<%
@title = "My Subscriptions (Expert) - openSUSE Hermes"
@crumb_list = []
@crumb_list << "My Subscriptions (Expert)"
%>


<% content_for :ready_function do %>
  $("#subscriptions_table").tablesorter( {
  widgets: ['zebra'],
  sortList: [[0,1]]
  } );
<% end %>
<p>Switch back to <%= link_to "simple mode", :controller => :subscriptions, :action => :simple %></p>
<h2>Subscription configuration (expert mode)</h2>

<table id="subscriptions_table">
  <thead>
    <tr>
      <th class="header">Description</th>
      <th class="header">Message Type</th>
      <th class="header">Delay </th>
      <th class="header">Delivery</th>
      <th class="header">Filters</th>
      <th class="header">Status</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @subscribedMsgs.each_with_index  { |subs,i| %>
      <tr id="filter_<%=i%>" >
        <td><%= (subs.description.blank? ? '<i>No description</i>' : subs.description) %></td>
        <td id="edit_link_<%=i%>">
          <tt><%= subs.msg_type.type_desc %></tt></td>
        <td><%= subs.delay.name %></td>
        <td><%= subs.delivery ? subs.delivery.description : '' %></td>
        <% if subs.filters.count > 0 %>
          <td><a href="#" onmouseover="Tip('<%=@filter_tooltips[subs.id]%>')" onmouseout="UnTip()"><%= subs.filters.count %></a></td>
        <% else %>
          <td><%= subs.filters.count %></td>
        <% end %>
        <td><div id="filter_<%=i%>_enabled">
            <% enabled_txt = subs.enabled ? "Enabled" : "Disabled" %>
            <%= link_to_remote enabled_txt, :url => { :action => :toggle_enabled, :subs => subs }, :update => "filter_#{i}_enabled"  %>
          </div></td>
        <td style="white-space: nowrap; ">
          [<%= link_to "edit", edit_subscription_path(subs) %>]
          <%= link_to image_tag("delete.png"), subscription_path(subs), :method => :delete, :confirm => "Delete Subscription for #{subs.msg_type.type_desc}?" %>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>


<p><%= link_to_function "Add a new subscription", "$('#new_subscr').toggle()" %></p>

<div id='new_subscr' style="display: none;">
  <%= render(:partial => 'new_subscription', :locals => { :delays => @avail_delays, :deliveries => @avail_deliveries, :types => @avail_types } ) %>
</div>
