<%= javascript_include_tag "wz_tooltip.js" %>



<h2>Subscription configuration (expert mode)</h2>

<table>
<tr><td valign=top>
<table class="defaultTable">
<tr>
<th>Description</th>
<th>Message Type</th>
<th>Delay </th>
<th>Delivery</th>
<th>Filter</th>
<th>Status</th>
<th></th>
</tr>

<% @subscribedMsgs.each_with_index  { |subs,i| %>
  <tr id="filter_<%=i%>" >
    <td><%= subs.description || '' %></td>
    <td id="edit_link_<%=i%>">
		<%= link_to subs.msg_type.type_desc, edit_subscription_path(subs) %></td>
    <td><%= subs.delay.name %></td>
    <td><%= subs.delivery ? subs.delivery.name : '' %></td>
    <% if subs.filters.count > 0 %>
      <td><a href="#" onmouseover="Tip('<%=@filter_tooltips[subs.id]%>')" onmouseout="UnTip()"><%= subs.filters.count %></a></td>
    <% else %>
        <td><%= subs.filters.count %></td>
    <% end %>
    <td><%= link_to_remote subs.enabled ? "Enabled" : "Disabled", { :url => { :action => 'disable', :id => i, :subs => subs }}, { :id => "disable_link_#{i}" }  %></td>
    <td><%= link_to image_tag("delete.png"), subscription_path(subs), :method => :delete %></td>
  </tr>
  <% } %>
</table>
(click on the message type to change your settings for it.)


</table>

<%= link_to_function "New Subscription", "$('new_subscr').toggle()" %>

<div id='new_subscr' style="display: none;">
  <%= render(:partial => 'new_subscription', :locals => { :delays => @avail_delays, :deliveries => @avail_deliveries, :types => @avail_types } ) %>
</div>
