<% javascript_include_tag :defaults %>

<p>Please select below for which events you want to receive notifications.</p>

<% form_for :subscription, :url => { :action => :modify_simple_subscriptions } do |form| %>
<% for group_id in @abstraction_groups.keys %>

  <h3><%= @abstraction_groups[group_id] %> </h3>
  
  <table class="defaultTable">
  <% for abstraction in @abstractions[group_id].values %>
  
  <tr><td valign='top' width="30%">
  <b><%= abstraction.summary %></b> <br/>
  <i><%= abstraction.description %></i> 
  </td>
  <td>
  
  <table class="defaultTable">
  <% for filter_abstract in abstraction.filterabstracts.values %>
  
    <!-- form part for abstract id: <%= abstraction.id %> filter_abstract id: <%= filter_abstract.id %> -->
  
    <tr><td valign='top' width="20">
    <% subscription = @person.subscribed_to_abstraction( group_id, abstraction.id, filter_abstract.id ) %>
    <%= check_box_tag "#{abstraction.id}||#{filter_abstract.id}", "1", subscription %>
    </td>
    <td valign='top' width="60%">
    <%= filter_abstract.summary %> <br/>
    <i><%= filter_abstract.description %></i>
    </td><td valign='top'>
    <% if ( subscription ) 
         deliveryid = subscription.delivery.id
         delayid = subscription.delay.id
       else
         deliveryid = nil
         delayid = nil
    end %>
    <%= select_tag "#{abstraction.id}||#{filter_abstract.id}||delivery", options_for_select(@avail_deliveries, deliveryid) %>
    </td><td valign='top'>
    <%= select_tag "#{abstraction.id}||#{filter_abstract.id}||delay", options_for_select(@avail_delays, delayid) %>
    </td>
    </tr>
  <% end %>
  </table>
  
  <% end %>
  
  </td></tr>
  </table>
 
<% end %>
<%= submit_tag "Save settings" %>
<% end %>

<br/>

You can choose from a list of default notifications here. 
To configure more complex notifications, please use the 
<a href="<%= url_for(:controller => "subscriptions" , :action => "index") %>">expert interface</a>. 

