<% javascript_include_tag :defaults %>

<% form_for :subscription, :url => { :action => :modify_simple_subscriptions } do |form| %>
<% for group_id in @abstraction_groups.keys %>

  <h3><%= @abstraction_groups[group_id] %> </h3>
  
  <table class="defaultTable">
  <% for abstraction in @abstractions[group_id].values %>
  
  <tr><td valign='top'>
  <%= abstraction.summary %> <br/>
  <i><%= abstraction.description %></i> 
  </td>
  <td>
  
  <table class="defaultTable">
  <% for filter_abstract in abstraction.filterabstracts.values %>
  
    <!-- form part for abstract id: <%= abstraction.id %> filter_abstract id: <%= filter_abstract.id %> -->
  
    <tr><td valign='top'>
    <%= check_box_tag "#{abstraction.id}||#{filter_abstract.id}", "1", 
      @person.subscribed_to_abstraction( group_id, abstraction.id, filter_abstract.id ) %>
    </td>
    <td valign='top'>
    <%= filter_abstract.summary %> <br/>
    <i><%= filter_abstract.description %></i>
    </td><td valign='top'>
    <%= form.select :delivery, @avail_deliveries %>
    </td><td valign='top'>
    <%= form.select :delay, @avail_delays %>
    </td>
    </tr>
  <% end %>
  </table>
  
  <% end %>
  
  </td></tr>
  </table>
 
<% end %>
<%= submit_tag %>
<% end %>

<br/>

You can choose from a list of default notifications here. 
To configure more complex notifications, please use the 
<a href="<%= url_for(:controller => "subscriptions" , :action => "index") %>">expert interface</a>. 

