
<%= auto_discovery_link_tag(:rss, :action => 'show', :format => "rdf", :id => @feed_id) %>


<h2>Listing messages for feed: <%= @title %></h2>
<table class="ruler">


<% for message in @items %>
	<tr id="msgtr">
	<td><%= link_to message.id, :action => "show", :controller => "messages", :id => message.id %></td>
        <td><%=h message.msg_state.state %></td>
	<td><%=h message.sender %></td>
	<td><%=h message.subject %></td>
        <td><%=h message.created %></td>
	</tr>
<% end %> 


</table>
<%= will_paginate @items %>
