<% content_for :content_for_head do %>
  <%= javascript_include_tag "jquery.flot.min.js" %>
  <%= javascript_include_tag "jquery.flot.pie.min.js" %>
<% end %>
<!--[if lte IE 8]><script language="javascript" type="text/javascript" src="/javascripts/excanvas.min.js"></script><![endif]-->

<%
@title = "Statistics - openSUSE Hermes"
@crumb_list = []
@crumb_list << "Statistics"
%>

<h3>Global traffic</h3>

<p>Hermes message traffic in the last <%= @timespan/24 %> days (values are per hour): </p>

<p><div id="starship_messages_graph" style="margin-left: 20px; width:900px;height:300px"></div></p>

<script type="text/javascript">
  $(function () {

    var notifications_in = [<%= @notifications_in.map{|time, n| "[#{time}, #{n}]" }.join(",") -%>];
    var notifications_out = [<%= @notifications_out.map{|time, n| "[#{time}, #{n}]" }.join(",") -%>];
    var messages = [<%= @messages.map{|time, n| "[#{time}, #{n}]" }.join(",") -%>];

    $.plot($("#starship_messages_graph"),
    [ { data: notifications_in, label: "Incoming notifications" },
      { data: notifications_out, label: "Outgoing notifications" },
      { data: messages, label: "Web/RSS Messages" }],
    {
      xaxis: {
        ticks: [<%= (-@timespan).upto(-1).select{|t| t%24 == 0}.map{|t| "[#{t}, '#{pluralize(-t/24, 'day')} ago']"}.join(",") -%>]
      },
      yaxis: {
      },
      grid: {
        backgroundColor: { colors: ["#fff", "#eee"] }
      }
    });
  });
</script>

<p>
  <i>Incoming notifications</i> are the messages that reach hermes from outside, eg.
  if a package build succeeded, or a wiki page has been changed. Hermes then goes through the
  users subscriptions and creates an <i>outgoing notification</i> for each of the subscriptions
  that match the notification. <i>Web/RSS</i> messages are those that got delivered to a subscription
  with the Web/RSS delivery type and can be viewed directly in this webapp.  
</p>

<h3>Global statistics</h3>

<p>
  The hermes system currently has <b><%= @users %></b> users with
  <b><%= @subscriptions %></b> individual subscriptions
</p>

<h3>Subscriptions by message type: </h3>

<div id="pie_subscription_types" style="margin-left: 20px; width:550px;height:150px"></div>

<script type="text/javascript">
  $(function () {

    $.plot($("#pie_subscription_types"),
    [ <%= @subscription_stats.map{|s| "{label: \"#{@msg_types.select{|m| m.id.to_s == s.first}.first.type_desc}\", data: #{s.last}}" }.join(',') %> ],
    {
      series: {
        pie: {
          innerRadius: 0.4,
          show: true
        }
      }
    });
  });
</script>

<h3>Message type statistics</h3>

<% form_tag({:controller => :statistics, :action => :msg_type}, :method => :get ) do %>
  <p>Create graph for message type: <br/>
    <%= select_tag "msg_type[]", options_from_collection_for_select(@msg_types, :id, :type_desc),
      {:multiple => true, :size => 10} %>
    <%= submit_tag "Create Graph" %>
  </p>
<% end %>
