<% if @showtype %>
	<h1>Listing messages for <%= @showtype.msgtype %></h1>
	<table class="ruler">
	<% for message in @showtype.messages %>
		<tr id="msgtr">
		<td><%= link_to message.id, message %></td>
		<td><%=h message.sender %></td>
		<td><%=h message.subject %></td>
		</tr>
	<% end %>
	</table>

<% else %>
	<h1>Message Overview</h1>
	<table class="defaultTable">
	<tr>
	<th>Types</th>
	<th>Count</th>
	</tr>
	
	<% for showtype in @showtypes %>
		<tr>
		<td><%=h showtype.msgtype %></td>
		<td><%= showtype.messages.count %></td>
		</tr>
	<% end %>
	</table>

<% end %>


