
<table width="100%" class="defaultTable">
<tr>
  <th>Id</th>
  <th>State</th>
  <th>Msg Type</th>
  <th>Subject</th>
  <th>Date</th>
</tr>

<% @messages.each_with_index  { |msg,i| %>
  <tr>
    <td><%= msg.created %></td>
    <td><%= link_to msg.id.to_s, :controller => "messages", :action => "show",
      :id => msg.id.to_s %></td>
    <td><%= msg.msg_state.state %></td>
  </tr>
  <tr>
    <td colspan="3"><%= msg.subject %></td>
  </tr>

<% } %>
</table>
<%= will_paginate @messages %>
