<h1>Listing messages</h1>

<table class="ruler">

<% for showtype in @showtypes %>
  <tr>
    <th align="left" colspan="3"><%=h showtype.msgtype %></th>
  </tr>
  <% for message in showtype.messages %>
  <tr id="msgtr">
    <td><%= link_to message.id, message %></td>
    <td><%=h message.sender %></td>
    <td><%=h message.subject %></td>
  </tr>
  <% end %>
<% end %>
</table>

<br />

<%= link_to 'New message', new_message_path %>