
<table width="100%" class="defaultTable">
<tr>
  <th>Id</th>
  <th>Msg Type</th>
  <th>Sender</th>
  <th>Subject</th>
  <th>Date</th>
</tr>

<% @messages.each_with_index  { |msg,i| %>
  <tr>
    <td><%= link_to msg.id.to_s, :controller => "messages", :action => "show",
      :id => msg.id.to_s %></td>
    <td><%= msg.msg_type.msgtype %></td>
    <td><%= msg.sender %></td>
    <td><%= msg.subject %></td>
    <td><%= msg.created %></td>
  </tr>

<% } %>
</table>

