<p>
  <b>Date:</b>
  <%=h @message.created %>
</p>

<p>
  <b>Msgtype:</b>
  <%=h @message.msg_type.msgtype %>
</p>

<p>
  <b>From:</b>
  <%=h @message.sender %>
</p>

<p>
  <b>Subject:</b>
  <%=h @message.subject %>
</p>

<p>
  <b>Body:</b>
  <%=h @message.body.gsub(/\n/, '<br/>') %>
</p>

<% if @to_save_comment %>
  <% if @to_save_comment.comment.blank? %>
  <%= link_to_function "Add Comment", "$('commentBox').toggle()" %>
  <% else %>
  <p>
    <b>Comment:</b>
    <%=h @to_save_comment.comment %>
  </p>
  <%= link_to_function "Edit Comment", "$('commentBox').toggle()" %>
  <% end %>
  <div id="commentBox" style="display: none;">
    <%= render(:partial => "commentBox", :object => @to_save_comment) %>
  </div>
<% end %>


<%= link_to 'Index', :controller => 'msg_types', :action => "show", :id => @message.msg_type.id %>

