<p>
  <b>Date:</b>
  <%=h @message.created.strftime(fmt='%d. %B %Y - %H:%M:%S UTC') %>
</p>

<p>
  <b>Message type:</b>
  <%=h @message.msg_type.type_desc %>
</p>

<p>
  <b>From:</b>
  <%=h @message.sender %>
</p>

<p>
  <b>Subject:</b>
  <%=h @message.subject %>
</p>

<p>
  <pre><%=h @message.body %>
  </pre>
</p>

<% if @to_save_comment %>
  <% if @to_save_comment.comment.blank? %>
  <%= link_to_function "Add Comment", "$('commentBox').toggle()" %>
  <% else %>
  <p>
    <b>Comment:</b>
    <%=h @to_save_comment.comment %>
  </p>
  <%= link_to_function "Edit Comment", "$('commentBox').toggle()" %>
  <% end %>
  <div id="commentBox" style="display: none;">
    <%= render(:partial => "commentBox", :object => @to_save_comment) %>
  </div>
<% end %>


