<% form_tag({:action=>'index'}, :method => :get) do -%>
  <%= label 'filter', 'Filter Message Type' %>
  <%= text_field_tag 'filter', @filter %>
  <%= submit_tag "OK" %>
<% end -%>


<h1>Message Overview</h1>
<table class="defaultTable">
<tr>
<th>Message Types</th>
<th>Count</th>
</tr>
	
<% for type in @msg_types %>
<tr>
  <td><%= link_to type[0].type_desc, {:action => "show", :controller => "msg_types", :id => type[0].id} %></td>
  <td><%= type[1] %></td>
</tr>
<% end %>
</table>
<p>
<%= #will_paginate @showtypes 
%>
</p>
