<h1>Message Types Overview</h1>

<% form_tag({:action=>'index'}, :method => :get) do -%>
  <%= label 'filter', 'Filter Message Type' %>
  <%= text_field_tag 'filter', @filter %>
  <%= submit_tag "OK" %>
<% end -%>

<table class="defaultTable">
<tr>
<th>Message Type</th>
<th>Message Count</th>
<th>Message Type Description</th>
</tr>
	
<% for cnt in 0..(@msg_types.length-1)
     msg = @msg_types.at(cnt)
     if cnt < (@msg_types.length-1): nextId = @msg_types.at( cnt+1)[0].id end
     if cnt > 0: prevId = @msg_types.at( cnt-1)[0].id end
 %>

<tr>
  <td><%= link_to msg[0].msgtype, 
          { :action => "show", :controller => "msg_types", :prev => prevId, :next => nextId, :id => msg[0].id } %></td>
  <td><%= msg[1] %></td>
  <td><%= msg[0].description %></td>
</tr>
<% end %>
</table>
<p>
<%= #will_paginate @showtypes 
%>
</p>

<p><%= link_to 'Output as XML', {:action => "index", :controller => "msg_types", :format => 'xml'} %></p>
