<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="Content-Script-Type" content="text/javascript"/>
    <meta http-equiv="Content-Style-Type" content="text/css"/>
    <% if @metarobots %>
    <meta name="robots" content="<%= @metarobots %>"/>
    <% end %>

    <link href="/favicon.ico" rel="shortcut icon" />

    <title><%= @pagetitle || @title || 'Hermes - openSUSE Notification Client' %></title>

    <%= stylesheet_link_tag "https://static.opensuse.org/themes/bento/css/style.css", :media => "screen", :title => "All" %>
    <%= stylesheet_link_tag "hermes" %>
    <%= javascript_include_tag 'https://static.opensuse.org/themes/bento/js/jquery.js' %>
    <%= javascript_include_tag 'https://static.opensuse.org/themes/bento/js/script' %>

    <%= javascript_include_tag "jrails", "application" %>

    <%= yield :content_for_head %>

    <script type="text/javascript">
    /* <![CDATA[ */
    <%= yield :head_javascript %>
    $(function() {
      <%= yield :ready_function %>
    });
    /* ]]> */
    </script>

    <!-- Piwik -->
    <script type="text/javascript">
      var _paq = _paq || [];
      (function(){
        var u=(("https:" == document.location.protocol) ? "https://beans.opensuse.org/piwik/" : "http://beans.opensuse.org/piwik/");
        _paq.push(['setSiteId', 17]);
        _paq.push(['setTrackerUrl', u+'piwik.php']);
        _paq.push(['trackPageView']);
        _paq.push([ 'setDomains', ["*.opensuse.org"]]);
        var d=document,
        g=d.createElement('script'),
        s=d.getElementsByTagName('script')[0];
        g.type='text/javascript';
        g.defer=true;
        g.async=true;
        g.src=u+'piwik.js';
        s.parentNode.insertBefore(g,s);
      })();
    </script>
    <!-- End Piwik Code -->

  </head>

  <body>

    <%= render :partial => 'layouts/header' %>

    <div id="subheader" class="container_16">
      <div id="breadcrump" class="grid_12 alpha">
        <%= image_tag( "home_grey.png" ) %><%= link_to "Hermes", :controller => 'subscriptions', :action => :simple %>
        <% if @crumb_list -%>
          <% @crumb_list.each do |link| -%>
            &gt; <%= link %>
          <% end -%>
        <% end -%>
      </div>

      <%= render :partial => "layouts/personal_navigation"  %>
    </div>

    <%= render(:partial => "layouts/flash", :object => flash) %>

    <!-- this is needed for the delete confirm dialogues -->
    <div id="dialog_wrapper" style="display: none"></div>

    <!-- Start: Main Content Area -->
    <div id="content" class="container_16 content-wrapper">
      <% if @layouttype == "custom" %>
        <%= yield %>
      <% else %>
        <div class="grid_16 box box-shadow alpha omega">
          <%= yield %>
        </div>
      <% end %>
    </div>
    <!-- End: Main Content Area -->


    <!-- Start: Footer -->
    <div id="footer" class="container_12">
        <div class="box_content grid_3">

          <% if @loggedin_user %>
          <strong class="grey-medium spacer1">Personal Links:</strong>
            <ul class="navlist">
              <li><%= link_to "My Subscriptions", :controller => :subscriptions, :action => :simple %></li>
              <li><%= link_to "My Feeds", :controller => :feeds, :action => :personal %></li>
                        <% if @loggedin_user.admin %>
            <li><%= link_to 'Admin', "https://notify.opensuse.org" %></li>
          <% end %>
               <li><%= link_to 'Logout', :controller => 'account', :action => 'logout' %></li>
            </ul>
          </div>
        <% end -%>

        <div class="box_content grid_3">
          <strong class="grey-medium spacer1">Locations</strong>
          <ul>
            <li><%= link_to "Public Feeds", :controller => :feeds, :action => :index %></li>
            <li><%= link_to "Statistics", :controller => :statistics, :action => :index %></li>
          </ul>
        </div>

        <div class="box_content grid_3">
          <strong class="grey-medium spacer1">Help</strong>
          <ul>
            <% @helplinks = [
              { 'Documentation'  => 'http://en.opensuse.org/openSUSE:Hermes_webui_documentation' } ]

            @helplinks.each do |helplink|
              for k in helplink.keys %>
                <li><a href="<%= helplink[k] -%>"><%= k %></a></li>
              <% end %>
            <% end %>
          </ul>
        </div>


      <div id="footer-legal" class="border-top grid_12">
        <p>
          &#169; 2010 Novell, Inc. All rights reserved. Novell is a registered trademark and
          openSUSE and SUSE are trademarks of Novell, Inc. in the United States and other countries.
        </p>
      </div>

    </div>
    <!-- End: Footer -->


  </body>
</html>
